@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: #092739;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.code-block-wrapper span:first-child,
.code-block-wrapper-light span:first-child {
  background-color: transparent !important;
}
.code-block-wrapper span:first-child code:first-child {
  color: #eee;
}
.code-block-wrapper-light span:first-child code:first-child {
  color: black;
}
.code-block-wrapper .literal-property {
  color: #c792ea !important;
}
.code-block-wrapper-light .literal-property {
  color: black !important;
}

.linenumber {
  min-width: 3.25em !important;
}

.linenumber {
  min-width: 3.25em !important;
  user-select: text !important;
}
